/* Component Style */
:local(.headerContainer) {
  width: 100%;
  height: 100%;
}
:local(.headerAppStyle) {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row !important;
}
:local(.headerLogoContainer) {
  height: 100%;
  position: relative;
  display: flex;
  padding: 10px;
}
:local(.headerLogoIconContainer) {
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
:local(.headerLogoTextContainer) {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
:local(.headerLogoProfileContainer) {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
:local(.headerLogoProfileIconContainer) {
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
:local(.headerLogoProfileTextContainer) {
  height: 100%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
